**/.git
**/.gitignore
**/node_modules
**/dist
**/.vite
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/.env
**/.idea
**/.vscode
**/.DS_Store
**/*.log
charts
docs
.github
README.md
